<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Chihuahua</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>charming</mat-chip>
        <mat-chip>graceful</mat-chip>
        <mat-chip>sassy</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
