<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>

<input placeholder="search unit" maxlength="4" size="4">
<mat-dialog-content class="mat-typography">

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>

      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{longText}}</p>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>

</mat-dialog-content>
